a{
    font-weight: bold;
    color: rgb(223, 223, 223); 
}

ion-img{
    height: 100px;
    width: 70px;
}

ion-card-title{
    font-weight: bold;
}

// ion-card{
//     background: linear-gradient(to right, #141e30, #243b55);
// }

