<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      About this application 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Author: Lukáš Mahďar</ion-card-title> 
    </ion-card-header>

    <ion-card-content>
      <p>This application offers four userfriendly tabs. In first tab, user can search cities 
        which they want to know statistics about covid-19. In second tab, they can search 
        continents. Third tab is their searching history. And the last tab is short story about application. 
         </p>  
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer collapse="fade">
  <ion-toolbar>
    <ion-title>2021©</ion-title>
  </ion-toolbar>
</ion-footer>
